fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
starlette
dnspython
email_validator
idna
bcrypt
email-validator
httpx
passlib
psycopg2-binary
pydantic
pydantic-settings
pytest
python-jose
python-multipart
sqlalchemy
itsdangerous
starlette
